*{
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
}


body{
    display: flex;
    padding: 60px;
    align-content: center; 
    justify-content: center;
    background-color: black;
}

div#display{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}

div#screen{
    background-color: #b3b1b1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

button{
    cursor: pointer;
}

button.operators{
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    margin: 7px 2px;
    color: white;
    background-color: #f4a460;
}

button.numbers{
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    margin: 2px;
    color: white;
    background-color: #2e8b57;
}
button.numbers:hover{
    background-color: #267247;
}

button.operators:hover{
    background-color: #af7746;
}

canvas#calc{
    margin: 0px 2px ;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    line-height: 20px;
}

p{
    color: #FFF;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    cursor: default; 
}

a{
    cursor: pointer;
    text-decoration: none;
}